// Color Variables
$light_clr: #fff7eb;
$dark_clr: #15495e;
$middle_clr: #e2b668;

// Fonts
@font-face {
    font-family: 'Hacen Tunisa';
    src: url('../res/fonts/Hacen\ Tunisia\ Bold.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap');


// Predifined elements
h1{
    font-family: 'Hacen Tunisa';
    font-size: 2.5rem;
}
h2{
    font-size: 1.8rem;
    margin-bottom: 2rem;
}
h3{
    font-size: 1rem;
}
h4{
    font-weight: 400;
    color: #e2b668;
}
p{
    line-height: 2.5;
}
section, header{
    padding: 3.5rem 10rem;
}
footer{
    padding: 3.5rem 17rem;
}
.filledBtn{
    background-color: $middle_clr;
    color: $dark_clr;
    font-weight: 700;
    padding: .8rem 1.2rem;
    width: fit-content;
    border: 2px solid $middle_clr;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
        background-color: transparent;
    }
}
.emptyBtn{
    border: 2px solid $middle_clr;
    border-radius: 50px;
    color: $dark_clr;
    font-weight: 700;
    padding: .8rem 1.2rem;
    width: fit-content;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
        background-color: #15495e;
        color: $light_clr;
    }
}