@import 'reset';
@import 'basics';

body{
    background-color: $light_clr;
    color: $dark_clr;
    font-family: 'cairo';
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 100vh;
}
#navBar{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .logo{
        img{
            width: 6rem;
        }
    }
    .navLinks{
        list-style: none;
        display: flex;
        gap: 2rem;
        a{
            position: relative;
            padding-bottom: .8rem;
            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0%;
                width: 0;
                height: 2px;
                background-color: $middle_clr;
                transition: all 0.3s ease;
            }
            &:hover::before {
                width: 100%;
            }
        }
    }
    .callBtn{
        display: flex;
        align-items: flex-end;
        gap: .8rem;
        padding-bottom: .8rem;
        img{
            width: 1.5rem;
        }
    }
}
#mobNavBar{
    display: none;
}
.hero{
    display: flex;
    margin-top: 3rem;
    .heroLeft{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        position: relative;
    }
    .heroRight{
        flex: 1;
        h1{
            width: 80%;
            margin-bottom: 2rem;
        }
        p{
            width: 85%;
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 3rem;
        }
    }
    .circleBgd{
        width: 26rem;
        height: 26rem;
        border-radius: 50%;
        background-color: $middle_clr;
    }
    img{
        transform: scaleX(-1);
        width: 23rem;
        position: absolute;
        left: 11rem
    }
}
.about{
    display: flex;
    padding-top: 13rem;
    .aboutRight{
        flex: 1;
        .outerCircle{
            width: 22rem;
            height: 22rem;
            border: 2px solid $middle_clr;
            border-radius: 50%;
            position: relative;
        }
        .innerCircle{
            width: 17rem;
            height: 17rem;
            background-color: $middle_clr;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        img{
            width: 19rem;
            position: absolute;
            top: 50%;
            left: 60%;
            transform: translate(-50%, -50%);
        }
    }
    .aboutLeft{
        flex: 1;
        h2{
            width: 45%;
        }
        p{
            width: 80%;
            margin: 2rem 0;
        }
        .btns{
            display: flex;
            gap: 2rem;
            div{
                padding: .5rem 1.2rem;
            }
        }
    }
}
.services{
    .serviceHeader{
        margin-bottom: 3rem;
        p{
            width: 40%;
        }
    }
    .serviceList{
        display: flex;
        gap: 3rem;
    }
    .column{
        flex: 1;
    }
    .card{
        aspect-ratio: 1/1;
        height: fit-content;
        border: 1px solid $middle_clr;
        border-radius: 15px;
        padding: 2rem 3rem;
        margin-bottom: 3rem;
        transition: all 0.5s ease;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h3{
            margin-top: 1rem;
            margin-bottom: .5rem;
        }
        p{
            font-size: .8rem;
        }
        img{
            height: 3rem;
        }
        .arrow{
            width: 1.5rem;
            margin-top: 1rem;
        }
        &:hover{
            background-color: $dark_clr;
            color: $light_clr;
        }
    }
}
.double{
    background-image: url('../res/images/elmizen-lawflare-image-bgd-ouferhat-amel.jpg');
    background-color: $dark_clr;
    background-blend-mode: multiply;
    background-size: cover;
    height:fit-content;
    margin-top: 20rem;
    max-width: 100%;
    .contactUs{
        background-color: $light_clr;
        padding: 4rem 7rem;
        gap: 2rem;
        border-radius: 15px;
        display: flex;
        transform: translateY(-60%);
    }
    .contactRight{
        flex: 1;
        p{
            width: 80%;
        }
    }
    .contactLeft{
        width: 40%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 3rem;
        border-radius: 15px;
        form{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            input, textarea{
                background-color: transparent;
                border: 1px solid $middle_clr;
                outline: none;
                border-radius: 5px;
                padding: .5rem;
                color: $dark_clr;
                font-family: 'cairo';
            }
            button{
                font-family: 'cairo';
            }
        }
    }
    .testeminies{
        padding: 0 7rem;
        transform: translateY(-55%);
        h2, h5, p{
            color: $light_clr;
        }
        .client{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 2rem;
            .arrows{
                display: flex;
                gap: 2rem;
            }
            img{
                width: .8rem;
                cursor: pointer;
            }
        }
    }
}
.blog{
    .boxed{
        padding: 0 7rem;
    }
    .articles{
        display: flex;
        gap: 3rem;
    }
    .card{
        flex: 1;
        cursor: pointer;
        &:nth-child(1) .cardImg {
            background-image: url('../res/images/elmizen-law-article1-ouferhat-amel.jpg');
            background-size: cover;
        }
        &:nth-child(2) .cardImg {
            background-image: url('../res/images/elmizen-lawflare-image-bgd-ouferhat-amel.jpg');
            background-size: cover;
        }
        &:nth-child(3) .cardImg {
            background-image: url('../res/images/elmizen-law-article2-ouferhat-amel.webp');
            background-size: cover;
        }
        .cardImg{
            aspect-ratio: 1/1;
            border-radius: 15px;
            position: relative;
            margin-bottom: 2rem;
            transition: all 0.3s ease;
        }
        .date{
            background-color: $light_clr;
            width: fit-content;
            position: absolute;
            padding: .5rem 2rem;
            border-top-right-radius: 15px;
            bottom: 0;
            left: 0;
        }
        h5{
            font-weight: 400;
            opacity: .7;
        }
        p{
            font-size: .9rem;
            margin: 1rem 0;
        }
        img{
            width: 2rem;
            cursor: pointer;
        }
        &:hover .cardImg{
            transform: scale(1.03);
        }
    }
}
.newsletter{
    .boxed{
        padding: 0 7rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .input{
        display: flex;
        input{
            width: 20rem;
            border: transparent;
            outline: none;
            border-radius: 5px;
            padding: .5rem 1rem;
            color: $dark_clr;
            font-family: 'cairo';
            transform: translateX(-2rem);
        }
        img{
            width: 2rem;
            z-index: 10;
            transform: translateX(1rem);
        }
    }
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .column1{
        #logo{
            width: 7rem;
            margin-bottom: 1rem;
            cursor: pointer;
        }
        .line{
            display: flex;
            gap: 1rem;
            img{
                width: 1.5rem;
            }
        }
    }
    .column2{
        list-style: none;
        display: flex;
        gap: 4rem;
        li{
            cursor: pointer;
            &:hover{
                color: $middle_clr;
            }
        }
    }
    .column3{
        .social{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            img{
                width: 2rem;
                cursor: pointer;
                &:hover{
                    transform: scale(1.1);
                }
                &:nth-child(2){
                    width: 1.7rem;
                }
                &:nth-child(4){
                    width: 1.5rem;
                }
            }
        }
        h3{
            color: $middle_clr;
            margin-top: 1rem;
            cursor: pointer;
        }
    }
}
// Responsive
@media only screen and (max-width: 1200px){
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    p{
        line-height: 2;
    }
    section, header{
        padding: 3.5rem 7rem;
    }
    footer{
        padding: 3.5rem 11rem;
    }
    .filledBtn{
        padding: .5rem 1.2rem;
    }
    .emptyBtn{
        padding: .5rem 1.2rem;
    }
    .hero{
        .heroRight{
            p{
                font-size: 1.1rem;
            }
        }
        img{
            width: 21rem;
            left: 10rem
        }
    }
    .about{
        padding-top: 15rem;
    }
    .services{
        .serviceList{
            display: flex;
            gap: 3rem;
        }
        .column{
            flex: 1;
        }
        .card{
            padding: 1.5rem;
        }
    }
    .double{
        margin-top: 16rem;
        .contactUs{
            padding: 4rem;
        }
        .testeminies{
            padding: 0;
        }
    }
    .blog{
        .boxed{
            padding: 0 4rem;
        }
    }
    .newsletter{
        .boxed{
            padding: 0 4rem;
        }
    }
}
@media only screen and (max-width: 1024px){
    section, header{
        padding: 3.5rem 5rem;
    }
    footer{
        padding: 3.5rem 9rem;
        font-size: .9rem;
        .column1{
            #logo{
                width: 5.5rem;
            }
            .line{
                display: flex;
                gap: 1rem;
                img{
                    width: 1.3rem;
                }
            }
        }
        .column3{
            .social{
                img{
                    width: 1.6rem;
                    &:hover{
                        transform: scale(1.1);
                    }
                    &:nth-child(2){
                        width: 1.4rem;
                    }
                    &:nth-child(4){
                        width: 1.2rem;
                    }
                }
            }
        }
    }
    .hero{
            .circleBgd{
                width: 21rem;
                height: 21rem;
            }
            img{
                width: 20rem;
                left: 9rem
            }
    }
    .about{
            padding-top: 8rem;
            .aboutRight{
                .outerCircle{
                    width: 18rem;
                    height: 18rem;
                }
                .innerCircle{
                    width: 14rem;
                    height: 14rem;
                }
                img{
                    width: 16rem;
                    top: 52%;
                    left: 62%;
                }
            }
    }
}
@media only screen and (max-width: 768px){
    
    section, header{
        padding: 3.5rem 3rem;
    }
    footer{
        padding: 3.5rem 3rem;
    }
    #navBar{
        display: none;
    }
    #mobNavBar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        #mobLogo{
            img{
                width: 5rem;
            }
        }
        #hamBtn{
            img{
                width: 1.3rem
            }
        }
        .mobMenu{
            background-color: $dark_clr;
            position: absolute;
            z-index: 1000;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            color: $light_clr;
            font-size: 1.5rem;
            transform: translateY(-100vh);
            transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
            #close{
                width: 1.3rem;
                position: absolute;
                top: 3.5rem;
                left: 3.5rem;
            }
            .navLinks{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                list-style: none;
                a{
                    color: $light_clr;
                    font-size: 1.5rem;
                }
            }
            .callBtn{
                display: flex;
                gap: 1rem;
                img{
                    width: 2rem;
                }
                a{
                    color: $light_clr;
                }
            }
        }
    }
    .about{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-top: 0;
        margin-top: 0;
        .aboutRight{
            .outerCircle{
                width: 15rem;
                height: 15rem;
            }
            .innerCircle{
                width: 11rem;
                height: 11rem;
            }
            img{
                width: 12rem;
            }
        }
        .aboutLeft{
            h2{
                width: 100%;
            }
            p{
                width: 100%;
            }
        }
    }
    .double{
        .contactLeft{
            width: 60%;
        }
    }
    .blog{
        .boxed{
            padding: 0;
        }
        .articles{
            display: flex;
            gap: 2rem;
        }
        .card{
            .date{
                padding: .5rem 1rem;
            }
            p{
                display: none;
            }
        }
    }
    .newsletter{
        .boxed{
            padding: 0;
        }
        .input{
            input{
                width: 17rem;
            }
        }
    }
}
@media only screen and (max-width: 576px){
    .hero{
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        gap: 0;
        .heroLeft{
            transform: translateY(-6rem);
        }
        .heroRight{
            flex: 1;
            h1{
                width: 100%;
            }
            p{
                width: 100%;
            }
        }
        img{
            width: 16rem;
            left: 2rem
        }
        
    }
    .about{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 5rem;
        .aboutRight{
            .outerCircle{
                width: 15rem;
                height: 15rem;
            }
            .innerCircle{
                width: 11rem;
                height: 11rem;
            }
            img{
                width: 12rem;
            }
        }
        .aboutLeft{
            h2{
                width: 100%;
            }
            p{
                width: 100%;
            }
        }
    }
    .services{
        .serviceHeader{
            p{
                width: 100%;
            }
        }
        .serviceList{
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }
        .card{
            aspect-ratio: auto;
            padding: 2rem;
            margin-bottom: 3rem;
            p{
                font-size: 1rem;
            }
            img{
                height: 3rem;
            }
        }
    }
    .double{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        margin-top: 0;
        overflow: hidden;
        .contactUs{
            max-width: 100%;
            flex-direction: column;
            transform: initial;
        }
        .contactRight{
            p{
                width: 100%;
            }
        }
        .contactLeft{
            width: 100%;
            form{
                flex-direction: column;
            }
        }
        .testeminies{
            padding: 3rem 0;
            transform: initial;
        }
    }
    .blog{
        .articles{
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }
        .card{
            .date{
                padding: .5rem 2rem;
            }
        }
    }
    .newsletter{
        .boxed{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 3rem;
        height: 100vh;
        .column1{
            display: flex;
            flex-direction: column;
            align-items: center;
            #logo{
                margin-bottom: 3rem;
            }
        }
        .column2{
            flex-direction: column;
            gap: 2rem;
            li{
                cursor: pointer;
                &:hover{
                    color: $middle_clr;
                }
            }
        }
        
        
    }
}
@media only screen and (max-width: 415px){
    .hero{
        margin-top: 4rem;
        .heroLeft{
            display: none;
        }
    }
    .about{
        padding-top: 0;
    }
    .double{
        .contactUs{
            width: 100vw;
            padding: 2.5rem;
        }
        .contactLeft{
            width: 100%;
            padding: 0;
            box-shadow: none;
            
        }
    }
}